[submodule "lib/detrarandom"]
	path = lib/detrarandom
	url = https://github.com/DavidNexuss/detrarandom
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/PX4/eigen.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
