[submodule "lib/detrarandom"]
	path = lib/detrarandom
	url = https://github.com/DavidNexuss/detrarandom
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/octree"]
	path = lib/octree
	url = https://github.com/jbehley/octree
[submodule "lib/umap"]
	path = lib/umap
	url = https://github.com/libscran/umappp
